.checkout-container {
  display: flex;

  gap: 30px;

  align-items: flex-start;
}

.checkout-form {
  flex: 2;

  background: white;

  padding: 30px;

  border-radius: 24px;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.checkout-summary {
  flex: 1;

  background: white;

  padding: 25px;

  border-radius: 24px;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

  position: sticky;

  top: 20px;
}

.checkout-select{

    width:100%;

    padding:14px;

    border-radius:14px;

    border:2px solid #E5E7EB;

    background:white;

    font-size:15px;

    margin-top:15px;

}

.payment-option{

    display:flex;

    align-items:center;

    gap:12px;

    background:white;

    border:2px solid #ECECEC;

    border-radius:14px;

    padding:15px;

    margin-top:15px;

    cursor:pointer;

}

.checkout-product{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:12px 0;

    border-bottom:1px solid #F3F4F6;

}

.confirm-button{

    width:100%;

    border:none;

    border-radius:14px;

    padding:16px;

    background:#FF8A65;

    color:white;

    font-size:17px;

    font-weight:700;

    cursor:pointer;

    transition:.25s;

}
.confirm-button:hover{

    transform:translateY(-2px);

}
.checkout-title{

    margin-bottom:35px;

}

.checkout-title h1{

    margin:0;

    color:#1F2937;

    font-size:42px;

}

.checkout-title p{

    color:#6B7280;

    margin-top:10px;

}
.checkout-section{

    background:#F9FAFB;

    border-radius:18px;

    padding:22px;

    margin-bottom:25px;

}
.checkout-total{

    text-align:center;

    margin:30px 0;

}

.checkout-total span{

    color:#6B7280;

}

.checkout-total h1{

    margin-top:8px;

    font-size:42px;

    color:#5B21B6;

}