*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Segoe UI',sans-serif;

    background:#F8F8F8;

    color:#1F2937;

    overflow-x:hidden;

}

button{

    font-family:inherit;

}

input,
textarea,
select{

    font-family:inherit;

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    display:block;

    max-width:100%;

}

#root{

    min-height:100vh;

}